<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatRoom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="chat-container">
        <h2>Chat Room: {{ room_id }}</h2>
        <div class="messages" id="messages"></div>
        <div class="input-container">
            <input type="text" placeholder="Message" name="message" id="message">
            <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script type="text/javascript">
        var socketio = io();
        const messages = document.getElementById("messages");

        const createMessage = (name, surname, msg, date) => {
          const messageContainer = document.createElement("div");
          messageContainer.classList.add("message");

          const senderInfo = document.createElement("span");
          senderInfo.innerHTML = `<strong>${name} ${surname}</strong>: ${msg}`;

          const messageDate = document.createElement("span");
          messageDate.classList.add("muted");
          const formattedDate = date.substring(0, 16);
          messageDate.textContent = formattedDate;

          messageContainer.appendChild(senderInfo);
          messageContainer.appendChild(messageDate);

          const messageContent = document.createElement("div");
          messageContent.classList.add("message-content");
          messageContent.appendChild(senderInfo);

          const timestampContainer = document.createElement("div");
          timestampContainer.classList.add("timestamp");
          timestampContainer.appendChild(messageDate);

          messageContainer.appendChild(messageContent);
          messageContainer.appendChild(timestampContainer);

          messages.appendChild(messageContainer);
        };

        socketio.on("connect", () => {
            socketio.emit("join_room", { room_id: "{{ room_id }}" });
        });

        socketio.on("disconnect", () => {
            socketio.emit("leave_room", { room_id: "{{ room_id }}" });
        });

        socketio.on("display_message", (data) => {
            createMessage(data.name, data.surname, data.text, data.date);
        });

        const sendMessage = () => {
            const messageInput = document.getElementById("message");
            const message = messageInput.value.trim();
            if (message === "") return;
            socketio.emit("message", {
                text: message,
                sender_id: "{{ sender_id }}",
                receiver_id: "{{ receiver_id }}",
                room_id: "{{ room_id }}"
            });
            messageInput.value = "";
        };
    </script>

    {% for msg in messages %}
        <script type="text/javascript">
            createMessage(
                "{{ msg.sender.user_name }}",
                "{{ msg.sender.user_surname }}",
                "{{ msg.message_text }}",
                "{% if msg.message_edited_at is not none %}{{ msg.message_edited_at }}{% else %}{{ msg.message_created_at }}{% endif %}"
            );
        </script>
    {% endfor %}
</body>
</html>
